html, body {
    background: #2C4251;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.fill-page {
    height: 100vh;
    max-width: 100vw;
}

.fill-90vh {
    height: 90vh;
}

.hidden {
    visibility: hidden;
    height: 0;
}

.full-width {
    width: 100%;
}

.padding-0 {
    padding-right: 0;
    padding-left: 0;
}


.navbar-collapse .navbar-text {
    text-align: center;
}

.card {
    border: none;
}

.card-title {
    background: none;
    border-bottom: none;
    padding: 10px;
}

.groupQuizTable tbody tr td{
  background: #f2f2f2;
  border: none;
  width: 100%;
}

.card-session-date {
    background: #1abc9c;
    color: #fff;
    padding: 10px;

    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
    border: none;
    min-width: 140px;
    outline: none !important;
}

.card-body {
    margin-top: 5px;
    padding: 5px;
}

.card-body h4 {
    font-size: 18px;
}

.card-footer .btn {
    color: #fff;
}

.hint-text {
    color: #999;
    text-align: center;
    padding-top: 5px;
    font-size: 13px;
}

.btn {
    font-size: 16px;
    font-weight: bold;
    background: #19aa8d;
    border-radius: 3px;
    border: none;
    min-width: 140px;
    outline: none !important;
}

.btn:hover, .btn:focus {
    background: #179b81;
}

.btn-transparent {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline:none;
    font-size: 1.5rem;
}

.btn-split-group .btn-split-left {
    border: none;
    border: solid 1px #179b81;
    border-radius: 20px;
    background: #179b81;
    min-width: 100px;
}

.btn-split-left:active {
    background: #0062cc;
}

.btn-split-group .btn-split-right {
    border: none;
    border: solid 1px #179b81;
    border-radius: 20px;
    background: #fff;
    color: #19AA8D !important;
    min-width: 100px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group .btn {
    margin-top: 20px;
}

.form-control {
    min-height: 38px;
    box-shadow: none !important;
    border-width: 0 0 1px 0;
    border-radius: 0;
}

.form-control:focus {
    border-color: #ccc;
}

a {
    color: #19aa8d;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h4 {
    color: #636363;
    text-align: center;
    font-size: 26px;
    margin-top: 0;
}

.alert {
    min-height: 38px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-custom {
    width: 350px;
}
.modal-custom-wide {
    width: 700px;
}
.modal-custom-huge {
    width: 1200px;
}

.modal-custom .modal-header {
    border-bottom: none;
    position: relative;
    justify-content: center;
}

.modal-custom .modal-content {
    border-radius: 5px;
    border: none;
    color: #999;
    border-radius: 1px;
    margin-bottom: 15px;
    background: #fff;
    border: 1px solid #f3f3f3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 25px;
}

.modal-custom .modal-footer {
    color: #999;
    border-color: #dee4e7;
    text-align: center;
    margin: 0 -25px -25px;
    font-size: 13px;
    justify-content: center;
}

.modal-custom .close {
    position: absolute;
    top: -10px;
    right: -10px;
}

.flex-box {
    display: flex;
}

.container.padding{
    padding: 40px;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.upvote {
    color: #19AA8D;
}

.downvote {
    color: #DB5461;
}

.navbar .fixed-bottom {
    background: #19AA8D;
}

.bold-border {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    border: 3px solid #19AA8D;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.bold-border:focus, .bold-border:active {
    box-shadow: 0 0 20px #007bff;
    border: 5px solid #007bff;
}

.users-list {
    height:150px;
    overflow:hidden;
    overflow-y:scroll;
}

.btn-grey {
    background: #939393;
}

.btn-grey:focus, .btn-grey:active, .btn-grey:hover{
    background: #636363;
}

.btn-popup {
    font-size: 16px;
    font-weight: bold;
    background: #FAFDFC;
    color: #19AA8D;
    border-radius: 3px;
    border: none;
    min-width: 140px;
    outline: none !important;
}

.btn-popup:hover, .btn-popup:active, .btn-popup:focus {
    background: #fff;
}

.dropup .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: .125rem;
}

.dropdown-menu {
    margin: 0;
    padding: 0;
}

.session-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 35px;
}

.masonry {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.masonry-brick {
    flex: auto;
    min-width: 150px;
    padding: 10px;
}

.typewriter #session-description {
    overflow: hidden;
    border-right: .15em solid #007bff;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .1em;
    animation:
            typing 3.5s steps(30, end),
            blink-caret .5s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #007bff }
}

.loading-text {
    padding-top: 150px;
    font-size: 48px;
    color: #f3f3f3;
    animation: loading-header 15s infinite;
}

.fixed-loader {
    position: fixed;
    width: 100%;
    height: 10px;
    top: 50vh;
    z-index: 999;
    left: 0;
}
.line {
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 10px;
    max-width: 400px;
    margin-left: auto;
    position: relative;
    margin-right: auto;
    overflow: hidden;
    border-radius: 5px;
}
.break {
    position: absolute;
    background: #222;
    border-radius: 5px;
    height: 10px;
}

.dot1 {
    animation: loading 2s infinite;
}
.dot2 {
    animation: loading 2s 0.5s infinite;
}
.dot3 {
    animation: loading 2s 1s infinite;
}

@keyframes loading {
    0% {
        left: 0;
        width: 20px;
        background: transparent;
    }
    25% {
        background: #1abc9c;
        width: 40px;
    }
    50% {
        background: #f29c12;
    }
    75% {
        background: #9b59b5;
    }
    100% {
        left: 390px;
        width: 5px;
        background: transparent;
    }
}

@keyframes loading-header {
    15% {
        color: #1abc9c;
    }
    50% {
        color: #f29c12;
    }
    85% {
        color: #9b59b5;
    }
}

.error-404-text {
    color: #f3f3f3;
    font-size: 100px;
}

.error-404-message-text {
    color: #d3d3d3;
}

.error {
    color:red;
}

.success {
    color:#00ff00;
}

#welcomeCard img {
    width: 100%;
}

#welcomeCard .card-body {
    padding: 35px;
}

#createSessionCard .card-title h4 {
    font-size: 26px;
}

#createSessionCard .card-body {
    padding: 35px;
}

#verifyCard .card-title h4 {
    font-size: 26px;
}

#verifyCard .card-body {
    padding: 35px;
}

#forgotPasswordCard .card-title h4 {
    font-size: 26px;
}

#forgotPasswordCard .card-body {
    padding: 35px;
}

#session-title {
    font-size: 2rem;
    color: #FAFDFC;
}

#session-description {
    color: #B6B9B8;
}

.session-questions-filter {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

 .btn-group-justified {
    width: 100%;
}

.btn-group-justified > .btn-group {
    width: 100%;
}

.btn-group-justified > .btn-group > button {
    color: #fff;
    min-width: 50px;
}

.btn-group-justified > .btn-group > button:active {
    background: #0062cc;
}

.btn-active {
    background: #0062cc;
}

.btn-group-justified > .btn-group:nth-child(even) > button {
    background: #fff;
    color: #19AA8D;
}

.datetimerange-picker {
    width: 100%;
}

.range_inputs > button {
    color: #fff;
}

.range_inputs > button:active {
    background: #0062cc !important;
}

#container-quiz-responses-cards {
    min-width: 100%;
}

.mini-btn {
    min-width: 10px;
}

#quizResponseText {
    word-wrap: break-word;
    width: 100%;
}

.modal-dialog {
    width: 96vw;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

table, th, td {
    text-align: center;
    padding: 5px;
    border: 1px solid grey;
    border-collapse: collapse;
}

table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color: #fff;
}
table th {
    color: white;
    background-color: #2C4251;
}

.borderless {
    border: 0px;
    background: transparent;
}

.custom-select-multi {
    border: 1px solid grey;
    width:100%;
    border-radius: 10px;
    text-align: center;
}

.box {
    width: 400px;
    border: 2px solid #000;
    margin: 0 auto 6px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    border-radius: 10px;
  }
  
  .info {
    background-color: #ddd;
    border-color: #aaa; 
  }
  .error-background {
    background-color: #EBB1B1;
    border-color: #973939;
    color: #973939;
  }