@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html, body {
  margin: 0;
  height: 100%;
}

.full-page-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-page {
  width: 360px;
  padding: 0 0 0;
  margin: auto;
}
.form {
  font-family: "Roboto", sans-serif;
  color: #99aab5;
  font-size: 140%;
  position: sticky;
  z-index: 1;
  background: #2c2f33;
  max-width: 360px;
  margin: 0 auto 0px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form input[type="text"]:disabled {
  background: #1e2124;
  color: #1e2124;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #7289da;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

/*Normal(PC) View*/
@media all and (max-resolution: 96dpi) {
  .session-page {
    width: 50%;
    padding: 4% 0 4% 0;
    margin: auto;
    font-family: "Roboto", sans-serif;

  }
}
/*Mobile View*/
@media not all and  (max-resolution: 96dpi) {
  .session-page {
    width: 100%;
    padding: 4% 0 4% 0;
    margin: auto;
    font-family: "Roboto", sans-serif;

  }
}

.form-question {
  z-index: 1;
  /*background: #FFFFFF;*/
  margin: 0 auto 0px;
  text-align: center;
  position:fixed;
  bottom: 0;
  left: 5%;
  right: 5%;
}
.form-question input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 75%;
  border: 0;
  margin: 0 0 15px;
  padding: 0.5%;
  box-sizing: border-box;
  font-size: 120%;
  float: left;
  color: #1e2124;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form-question button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #7289da;
  width: 25%;
  border: 0;
  padding: 0.5%;
  color: #FFFFFF;
  font-size: 120%;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  box-sizing: border-box;
  text-overflow: hidden ;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.card-question-box {
  margin: 0 auto 1%;
  padding: 15px;
  width: 95%;
  font-size: 120%;
  background: #99aab5;
  color: #23272a;
  word-wrap: break-word;
  border-radius: 5px;
  overflow: hidden;
}
.card-question {
  margin: 0 auto 1%;
  padding: 1.5%;
  width: 95%;
  font-size: 120%;
  background: #99aab5;
  color: #23272a;
  word-wrap: break-word;
  border-radius: 5px;
  overflow: hidden;
}
.card-question-user {
  font-size: 80%;
  word-wrap: break-word;
  padding: 0.5%;
  font-weight: bold;
}
/*Normal(PC) View*/
@media all and (max-resolution: 96dpi) {
  .card-question-text {
    font-size: 120%;
    word-wrap: break-word;
    padding: 0.5%;
    width: 100%;
  }
}
/*Mobile View*/
@media not all and  (max-resolution: 96dpi) {
  .card-question-text {
    font-size: 320%;
    word-wrap: break-word;
    padding: 0.5%;
    width: 100%;
  }
}


.button-question-mark-answered {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #7289da;
  width: 30%;
  border: 0;
  padding: 1%;
  color: #FFFFFF;
  font-size: 80%;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  box-sizing: border-box;
  text-overflow: hidden ;
  cursor: pointer;
  float: left;
  border-radius: 5px;
  letter-spacing: 5px;
}
.button-question-upvote {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #7289da;
  width: 10%;
  border: 0;
  padding: 1%;
  color: #FFFFFF;
  font-size: 80%;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  box-sizing: border-box;
  text-overflow: hidden ;
  cursor: pointer;
  float: right;
  border-radius: 5px;
  letter-spacing: 5px;
}
.button-question-upvote-disabled {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #7a8890;
  width: 10%;
  border: 0;
  padding: 1%;
  color: #FFFFFF;
  font-size: 80%;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  box-sizing: border-box;
  text-overflow: hidden ;
  cursor: pointer;
  float: right;
  border-radius: 5px;
  letter-spacing: 5px;
  text-align: center;
}

.container-question-cards {
  /*min-height: 600px;*/
  /*height: 40%;*/
  /*width: 100%;*/
  /*overflow-y: scroll;*/
  /*overflow-x: hidden;*/
  /*border-radius: 5px;*/
}
.container-users-online {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.session-title {
  font-family: "Roboto", sans-serif;
  font-size: 200%;
  color: #99aab5;
  font-weight: bold;
  width: 95%;
  text-align: center;
  /*margin: 0 auto 1%;*/
  /*padding: 15px;*/
  /*width: 95%;*/
  /*font-size: 120%;*/
  /*background: #99aab5;*/
  /*color: #23272a;*/
  /*word-wrap: break-word;*/
  /*border-radius: 5px;*/
}
.session-description {
  font-family: "Roboto", sans-serif;
  font-size: 140%;
  color: #99aab5;
  width: 95%;
  text-align: center;
  /*margin: 0 auto 1%;*/
  /*padding: 15px;*/
  /*width: 95%;*/
  /*font-size: 120%;*/
  /*background: #99aab5;*/
  /*color: #23272a;*/
  /*word-wrap: break-word;*/
  /*border-radius: 5px;*/
}
.user-bar {
  z-index: 1;
  /*background: #FFFFFF;*/
  text-align: center;
  background: #2c2f33;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5%;
  color: #99aab5;
  font-size: 120%;
  display: flex;
  justify-content: space-between;
}

.admin-bar {
  z-index: 1;
  /*background: #FFFFFF;*/
  text-align: center;
  background: #2c2f33;
  position: fixed;
  bottom: 0%;
  left: 0;
  width: 100%;
  padding: 0.5%;
  color: #99aab5;
  font-size: 120%;
  display: flex;
  justify-content: space-between;
}

.user-bar a {
  text-decoration: none;
  outline: 0;
  background: #7289da;
  border: 0;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 15px;
  color: #FFFFFF;
  font-size: 100%;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.card-login-prompt {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 1%;
  padding: 25px;
  width: 95%;
  font-size: 120%;
  background: #99aab5;
  color: #23272a;
  word-wrap: break-word;
  border-radius: 5px;
  overflow: hidden;
  font-weight: bold;
}
.card-login-prompt button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #7289da;
  width: 100%;
  border: 0;
  padding: 5%;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.container-question-cards::-webkit-scrollbar {
  width: 2%;
  background-color: #2c2f33;
}

.container-question-cards::-webkit-scrollbar-track {
  background-color: #2c2f33;
  border-radius: 10px;
}

.container-question-cards::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #99aab5;
}
​

.form button:hover,.form button:active,.form button:focus {
  background: #5B6DAE;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #7289da;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #1e2124, #1e2124);
  background: -moz-linear-gradient(right, #1e2124, #1e2124);
  background: -o-linear-gradient(right, #1e2124, #1e2124);
  background: linear-gradient(to left, #1e2124, #1e2124);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.body-session {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #1e2124, #1e2124);
  background: -moz-linear-gradient(right, #1e2124, #1e2124);
  background: -o-linear-gradient(right, #1e2124, #1e2124);
  background: linear-gradient(to left, #1e2124, #1e2124);
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login-iframe {
  border: none;
  text-align:center;
  width: 100%;
  height: 550px;
  margin: 0 auto;
  overflow-y: hidden;
}

.modal {
  padding-top: 75px;
  padding-bottom: 75px;
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #1e2124, #1e2124);
  background: -moz-linear-gradient(right, #1e2124, #1e2124);
  background: -o-linear-gradient(right, #1e2124, #1e2124);
  background: linear-gradient(to left, #1e2124, #1e2124);
}

.answer-container {
  display: flex;
  flex-direction: column;
}

.answer-container .answer-row {
  display: flex;
}

.answer-row button {
  margin: 15px;
}
